/**
 * @description: 项目变量定义
 * @update:
 */


@charset "UTF-8";
$basic: 75;

// switch
//-----------------------------------------------------
$borderBoxSwitch:                true !default; // true为*{box-sizing:border-box;}


// font相关
//-----------------------------------------------------
$fontSize:                       14px !default;
$fontLineHeight:                 1.5 !default;
$fontFamily:                     "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif !default;
// ios华文黑体,Android 4.0之后,Android 4.0之前
$fontCn:                         STHeiTi, Roboto, "Droid Sans Fallback", Arial !default;
// ios4.0+,ios4.0-,Android 4.0+,Android 4.0-
$fontEn:                         "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial !default;

// 系统用色 
//-----------------------------------------------------
$primary:                        #6eb82b !default;
$primary2:                       #ffaf00 !default;
$primary3:                       #ff5e73 !default;
$primary4:                       #5bccb8 !default;
$primary5:                       #984aae !default;
$primary6:                       #00aaec !default;

$disabled:                       #c8c8c8 !default;
$error:                          #d13d45 !default;
$white:                          #fff !default;
$gray:                           #c0c0c0 !default;
$gray2:                          #595757 !default;

// 背景色，文本色，边框色，链接色
//-----------------------------------------------------
$colorText:                      #787878 !default;
$colorBg:                        #dcdcdc  !default;
$colorBg2:                        #fff  !default;

$colorBorder:                    #e7e7e7 !default;
$colorBorder2:                    #dcdcdc !default;
$colorPlaceholder:               #999 !default; // input plac, eholder color
$colorLink:                      #eee !default;;

// radius
//-----------------------------------------------------
$radiusBase:                     6px !default;